@model List<OrnekYazi>
@{
    Layout = null;
}


@foreach (var item in Model)
{
    <div class="about-us pt-130 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="about-content">
                        <div class="section-title section-title-green mb-30">
                            <h2><span>@item.OrnekYaziBaslik</span></h2>
                            <p><h3>@item.OrnekYaziAciklama</h3></p>
                        </div>
                        <div class="about-btn mt-45">
                            <a class="default-btn" href="@Url.Action("Hakkimizda", "Home")">Devamını oku</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about-img default-overlay">
                        <img src="~/assets/img/banner/videoresim.jpg" alt="">
                        <a class="video-btn video-popup" href="@item.OrnekYaziVideoLink">
                            <img class="animated" src="/assets/img/icon-img/video.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
