@model List<OrnekYazi>
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="breadcrumb-area">
        <div class="breadcrumb-top default-overlay bg-img pt-100 pb-95" style="background-image:url(/assets/img/banner/hakkimizdabg.png);">
            <div class="container">
                <h2>Hakkımızda</h2>
                <p>Bireylere ihtiyaç duydukları psikolojik desteği sunmakta ve çalışmakta olan meslektaşlarımıza mesleki gelişimlerini destekleyecek hizmeti sağlamaktayız.</p>
            </div>
        </div>
        <div class="breadcrumb-bottom">
            <div class="container">
                <ul></ul>
            </div>
        </div>
    </div>
<div class="teacher-area pt-130 pb-100">
    <div class="container">
        <div class="section-title mb-75">
            <h2>En İyi <span>Öğretmenlerimiz</span></h2>
            <p>Öğretmenlerimiz hakkında bilgi almak için okuyabilirsiniz. </p>
        </div>
        <div class="custom-row">

            @{Html.RenderAction("_Ogretmenler", "Home"); }
        </div>
    </div>
</div>
