
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="slider-area">
    <div class="slider-active owl-carousel">
        @{Html.RenderAction("_Slider", "Home");}
    </div>
</div>
<div class="choose-us section-padding-1">
    <div class="container-fluid">
        <div class="row no-gutters choose-negative-mrg">
            @{Html.RenderAction("_TanitimYazilari", "Home"); }
        </div>
    </div>
</div>

@{Html.RenderAction("_OrnekYazi", "Home"); }

<div class="course-area bg-img pt-130 pb-10" style="background-image:url(/assets/img/bg/bg-1.jpg);">
    <div class="container">
        <div class="section-title mb-75">
            <h2> <span>Terapi </span>Programlarımız</h2>
            <p>
                Dil ve konuşma terapistleri olarak erken çocukluk döneminden erişkinliğe kadar uzanan geniş bir yelpazede<br />
                iletişim, dil, konuşma, ses ve yutma terapisi alanında çalışmalar yürütüyoruz.
            </p>
        </div>
        <div class="course-slider-active nav-style-1 owl-carousel">


            @{Html.RenderAction("_Programlar", "Home"); }

        </div>
    </div>
</div>
<div class="teacher-area pt-130 pb-100">
    <div class="container">
        <div class="section-title mb-75">
            <h2> <span>@Resources.Index.ogretmenlerimiz</span></h2>
            <p>Öğretmenlerimiz hakkında bilgiler edinebilirsiniz. </p>
        </div>
        <div class="custom-row">


            @{Html.RenderAction("_Ogretmenler", "Home"); }
        </div>
    </div>
</div>
