
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<li>@Html.ActionLink("Türkçe", "Degistir", "Language", new { diluzanti = "tr" }, null)</li>
<li>@Html.ActionLink("English", "Degistir", "Language", new { diluzanti = "en" }, null)</li>