
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section id="container">


    <section id="main-content">
        <section class="wrapper">
            <!--mini statistics start-->
            
            <!--mini statistics end-->
    </section>
</section>
